<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html class="clean">
	<head></head>
	<style>
		#content, #logo { margin: 0 auto; width: 800px;}
		.button { height: 20px; width: 50px;}
	</style>
	<body>
		<div id="logo">
			<table>
				<TR>
					<TD><IMG src="images/logo.png" height="150" width="300"></IMG></TD>
					<TD style="font-size: 30px">Applying Data Science with Hadoop</TD>
				</TR>
			</table>
		</div>
		<div id="content" style="font-size: 30px">
			<br>Recommender System Demo<br>
			<form name="input" action="recom" method="get">
				User ID: <input type="text" class="input" name="userid">
				<input type="submit" value="Submit" class="button">
			</form>
		</div>
	</body>
</html>

